
@mixin button-style($color) {
  background-color: $color;
  margin-top: $margin-medium;
  padding: $padding-small $padding-medium;
  color: $button-text-color;
  border: none;
  cursor: pointer;
  font-size: $font-size-medium;

  &:hover {
    background-color: $secondary-color;
  }

  &:focus {
    outline: none;
  }
}
