
body {
  font-size: $font-size-medium;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  padding-top: $padding-medium;
  text-align: center;
  font-size: $font-size-xlarge;
  color: $white;
  font-weight: bold;
}

p, label {
  font-size: 1.1rem;
  color: $paragraph-color;
  margin-top: $margin-medium;
}
