// main.scss
@import './variables';
@import './mixins';
@import './base';
@import './layout';
@import './components';
@import './pages';

// Global styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}
